body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #fff6e8, #f6d9ac);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: burlywood;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #8b5e34;
}

.dream-box {
  text-align: center;
  margin-top: 120px;
}

input {
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 20px;
  background: #c68c53;
  border: none;
  color: white;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
}
